* {
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
}

button {
  all: unset;
}

.App {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
  /* border: 10px solid black; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.xo {
  width: 95%;
  height: 95%;
  border: 10px solid black;
  border-radius: 5px;
  font: 100px bold;
}

.newGame {
  margin-top: 25px;
  width: 200px;
  height: 50px;
  background-color: #2f2f2f;
  color: #fff;
  font: 25px comic sans ms;
  border: 5px solid black;
  border-radius: 25px;
}